<a href="https://colab.research.google.com/github/aravind-chilakamarri/Python-Practice/blob/main/classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# python object oreinted programming
#class and instances

class Employee:

  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@company.com'

  def fullName(self):
    return f'{self.first} {self.last}'


emp_1 = Employee('Aravind','Chilakamarri',50000)
emp_2 = Employee('John','Doe',60000)


print(emp_1.fullName())
print(emp_1.email)

Aravind Chilakamarri
Aravind.Chilakamarri@company.com

In [6]:

# emp_1.first = 'Aravind'
# emp_1.last = 'Chilakamarri'
# emp_1.email = 'aravind.chil@company.com'
# emp_1.pay = 50000

# emp_2.first = 'John'
# emp_2.last = 'Doe'
# emp_2.email = 'john.dow@company.com'
# emp_2.pay = 60000

# print(emp_1.email)
# print(emp_2.email)

In [14]:
# Class Variables

class Employee:
  raise_amount = 1.04
  num_of_emps = 0
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@company.com'

    Employee.num_of_emps += 1

  def fullName(self):
    return f'{self.first} {self.last}'

  def applyRaise(self):
    self.pay = int(self.pay * self.raise_amount)

print(Employee.num_of_emps)
emp_1 = Employee('Aravind','Chilakamarri',50000)
emp_2 = Employee('John','Doe',60000)


print(Employee.num_of_emps)

0
2

In [19]:
# Class methods

class Employee:
  raise_amount = 1.04
  num_of_emps = 0
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@company.com'

    Employee.num_of_emps += 1

  def fullName(self):
    return f'{self.first} {self.last}'

  def applyRaise(self):
    self.pay = int(self.pay * self.raise_amount)

  @classmethod
  def setRaiseAmount(cls, amount):
    cls.raise_amount = amount

emp_1 = Employee('Aravind','Chilakamarri',50000)
emp_2 = Employee('John','Doe',60000)

Employee.setRaiseAmount(1.05)

print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.05
1.05
1.05

In [21]:
# Using Class Method as an alternative constructors

emp_str_1 = 'Jane-Doe-70000'
emp_str_2 = 'Julius-Caesar-80000'
emp_str_3 = 'James-Rambo-90000'

first, last, pay = emp_str_1.split('-')

new_emp_1 = Employee(first, last, pay)

print(new_emp_1.email)
print(new_emp_1.pay)

Jane.Doe@company.com
70000

In [22]:
class Employee:
  raise_amount = 1.04
  num_of_emps = 0
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@company.com'

    Employee.num_of_emps += 1

  def fullName(self):
    return f'{self.first} {self.last}'

  def applyRaise(self):
    self.pay = int(self.pay * self.raise_amount)

  @classmethod
  def setRaiseAmount(cls, amount):
    cls.raise_amount = amount

  @classmethod
  def fromString(cls, emp_str): #alternative constructor
    first, last, pay = emp_str.split('-')
    return cls(first, last, pay)


emp_1 = Employee('Aravind','Chilakamarri',50000)
emp_2 = Employee('John','Doe',60000)

emp_str_1 = 'Jane-Doe-70000'
emp_str_2 = 'Julius-Caesar-80000'
emp_str_3 = 'James-Rambo-90000'

new_emp_1 = Employee.fromString(emp_str_1)

print(new_emp_1.email)
print(new_emp_1.pay)

Jane.Doe@company.com
70000

In [24]:
# Static methods

class Employee:
  raise_amount = 1.04
  num_of_emps = 0
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@company.com'

    Employee.num_of_emps += 1

  def fullName(self):
    return f'{self.first} {self.last}'

  def applyRaise(self):
    self.pay = int(self.pay * self.raise_amount)

  @classmethod
  def setRaiseAmount(cls, amount):
    cls.raise_amount = amount

  @classmethod
  def fromString(cls, emp_str): #alternative constructor
    first, last, pay = emp_str.split('-')
    return cls(first, last, pay)

  @staticmethod
  def isWorkday(day):
    if day.weekday() == 5 or day.weekday() == 6:
      return False
    return True

emp_1 = Employee('Aravind','Chilakamarri',50000)
emp_2 = Employee('John','Doe',60000)

emp_str_1 = 'Jane-Doe-70000'
emp_str_2 = 'Julius-Caesar-80000'
emp_str_3 = 'James-Rambo-90000'

new_emp_1 = Employee.fromString(emp_str_1)

import datetime
my_date = datetime.date(1990,12,12)

print(new_emp_1.email)
print(new_emp_1.pay)

print(Employee.isWorkday(my_date))

Jane.Doe@company.com
70000
True

In [40]:
# inheritance

class Employee:
  raise_amount = 1.04
  num_of_emps = 0
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@company.com'

    Employee.num_of_emps += 1

  def fullName(self):
    return f'{self.first} {self.last}'

  def applyRaise(self):
    self.pay = int(self.pay * self.raise_amount)


class Developer(Employee):
  raise_amount = 1.10

  def __init__(self, first, last, pay,prog_lang):
    super().__init__(first,last,pay)
    self.prog_lang = prog_lang

class Manager(Employee):
  def __init__(self, first, last, pay,employees=None):
    super().__init__(first,last,pay)
    if employees is None:
      self.employees = []
    else:
      self.employees = employees

  def addEmployee(self, emp):
    if emp not in self.employees:
      self.employees.append(emp)
  def remove_emp(self, emp):
    if emp in self.employees:
      self.employees.remove(emp)
  def print_emps(self):
    for emp in self.employees:
      print('-->',emp.fullName())


# dev_1 = Employee('Aravind','Chilakamarri',50000)
# dev_2 = Employee('John','Doe',60000)

dev_1 = Developer('Aravind','Chilakamarri',50000,'Python')
dev_2 = Developer('John','Doe',60000,'Java')

mgr_1 = Manager('Sue','Smith', 90000,[dev_1])

print(mgr_1.email)
mgr_1.addEmployee(dev_2)
mgr_1.print_emps()
mgr_1.remove_emp(dev_1)
mgr_1.print_emps()
# print(help(Developer))
# print(dev_1.email)
# print(dev_1.prog_lang)

Sue.Smith@company.com
--> Aravind Chilakamarri
--> John Doe
--> John Doe

In [32]:
print(dev_1.pay)
dev_1.applyRaise()
print(dev_1.pay)

50000
55000