<a href="https://colab.research.google.com/github/aravind-chilakamarri/Python-Practice/blob/main/classes_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
class Person:
  def __init__(self, first_name, last_name, age, id, blood_group = 'unknown'):
    self.first_name = first_name
    self.last_name = last_name
    self.age = age
    self.id = id
    self.blood_group = blood_group

In [9]:
class Student(Person):
  def __init__(self, first_name, last_name, age, id, grade,  classes, blood_group = 'unknown'):
    super().__init__(first_name, last_name, age, id,blood_group = 'unknown')
    self.grade = grade
    self.classes = classes

In [10]:
class Teacher(Person):
  def __init__(self, first_name, last_name, age, id, course, experience, classes, blood_group = 'unknown'):
    super().__init__(first_name, last_name, age, id,blood_group = 'unknown')
    self.experience = experience
    self.course = course
    self.classes = classes

In [11]:
class Staff(Person):
  def __init__(self,first_name, last_name, age, id,department, job,blood_group = 'unknown'):
    super().__init__(first_name, last_name, age, id,blood_group = 'unknown')
    self.department = department
    self.job = job

In [28]:
class Principal(Person):
  def __init__(self,first_name, last_name, age, id,blood_group = 'unknown', teachers = None, students = None, staff = None):
    super().__init__(first_name, last_name, age, id,blood_group = 'unknown')

    if teachers is None:
      self.teachers = []
    else:
      self.teachers = teachers
    if staff is None:
      self.staff = []
    else:
      self.staff = []
    if students is None:
      self.students = []
    else:
      self.students = students

  def add_teacher(self, teacher):
    if teacher not in self.teachers:
      self.teachers.append(teacher)

  def add_student(self, student):
    if student not in self.students:
      self.students.append(student)

  def add_staff(self, staff_person):
    if staff_person not in self.staff:
      self.staff.append(staff_person)

In [29]:
principal = Principal('Aravind','Chilakamarri',27,1,'A+')

In [31]:
student1 = Student('Joshit','Vadela',14,2,'9',['python','machine learning','AI'])

principal.add_student(student1)

In [34]:
# List of 100 first names
first_names = [
    "Emma", "Liam", "Olivia", "Noah", "Ava", "Oliver", "Isabella", "Elijah", "Sophia", "William",
    "Charlotte", "James", "Amelia", "Benjamin", "Mia", "Lucas", "Harper", "Henry", "Evelyn", "Alexander",
    "Abigail", "Daniel", "Emily", "Matthew", "Ella", "Jackson", "Victoria", "David", "Grace", "Joseph",
    "Avery", "Samuel", "Scarlett", "Carter", "Madison", "Jayden", "Luna", "John", "Penelope", "Dylan",
    "Chloe", "Gabriel", "Riley", "Michael", "Aria", "Leo", "Sofia", "Jack", "Aurora", "Levi",
    "Mila", "Luke", "Layla", "Anthony", "Zoe", "Isaac", "Hannah", "Christopher", "Nora", "Andrew",
    "Ellie", "Joshua", "Elizabeth", "Lincoln", "Addison", "Ethan", "Stella", "Ryan", "Lily", "Nathan",
    "Paisley", "Caleb", "Nova", "Nicholas", "Eleanor", "Julian", "Violet", "Aaron", "Hazel", "Eli",
    "Savannah", "Connor", "Brooklyn", "Brayden", "Audrey", "Hunter", "Claire", "Christian", "Skylar", "Adrian",
    "Lucy", "Jonathan", "Bella", "Landon", "Natalie", "Charles", "Maya", "Jeremiah", "Lillian", "Thomas"
]

# List of 100 last names
last_names = [
    "Smith", "Johnson", "Williams", "Jones", "Brown", "Davis", "Miller", "Wilson", "Moore", "Taylor",
    "Anderson", "Thomas", "Jackson", "White", "Harris", "Martin", "Thompson", "Garcia", "Martinez", "Robinson",
    "Clark", "Rodriguez", "Lewis", "Lee", "Walker", "Hall", "Allen", "Young", "Hernandez", "King",
    "Wright", "Lopez", "Hill", "Scott", "Green", "Adams", "Baker", "Gonzalez", "Nelson", "Carter",
    "Mitchell", "Perez", "Roberts", "Turner", "Phillips", "Campbell", "Parker", "Evans", "Edwards", "Collins",
    "Stewart", "Sanchez", "Morris", "Rogers", "Reed", "Cook", "Morgan", "Bell", "Murphy", "Bailey",
    "Rivera", "Cooper", "Richardson", "Cox", "Howard", "Ward", "Torres", "Peterson", "Gray", "Ramirez",
    "James", "Watson", "Brooks", "Sanders", "Price", "Bennett", "Wood", "Barnes", "Ross", "Henderson",
    "Coleman", "Jenkins", "Perry", "Powell", "Long", "Patterson", "Hughes", "Flores", "Washington", "Butler"
]

# List of 100 ages
ages = [
    25, 30, 22, 40, 18, 27, 35, 29, 31, 26, 33, 24, 39, 20, 28, 21, 36, 32, 23, 37,
    34, 19, 41, 45, 29, 38, 26, 30, 22, 42, 31, 27, 35, 39, 24, 18, 33, 28, 37, 40,
    25, 34, 21, 43, 19, 36, 31, 23, 38, 29, 30, 22, 27, 32, 20, 45, 39, 26, 24, 41,
    35, 33, 18, 28, 37, 42, 31, 23, 40, 29, 30, 27, 22, 38, 26, 44, 19, 34, 21, 36,
    25, 31, 32, 39, 20, 45, 28, 33, 37, 23, 42, 29, 24, 35, 41, 18, 30, 26, 38, 27
]

# List of 100 IDs
ids = [
    "ID001", "ID002", "ID003", "ID004", "ID005", "ID006", "ID007", "ID008", "ID009", "ID010",
    "ID011", "ID012", "ID013", "ID014", "ID015", "ID016", "ID017", "ID018", "ID019", "ID020",
    "ID021", "ID022", "ID023", "ID024", "ID025", "ID026", "ID027", "ID028", "ID029", "ID030",
    "ID031", "ID032", "ID033", "ID034", "ID035", "ID036", "ID037", "ID038", "ID039", "ID040",
    "ID041", "ID042", "ID043", "ID044", "ID045", "ID046", "ID047", "ID048", "ID049", "ID050",
    "ID051", "ID052", "ID053", "ID054", "ID055", "ID056", "ID057", "ID058", "ID059", "ID060",
    "ID061", "ID062", "ID063", "ID064", "ID065", "ID066", "ID067", "ID068", "ID069", "ID070",
    "ID071", "ID072", "ID073", "ID074", "ID075", "ID076", "ID077", "ID078", "ID079", "ID080",
    "ID081", "ID082", "ID083", "ID084", "ID085", "ID086", "ID087", "ID088", "ID089", "ID090",
    "ID091", "ID092", "ID093", "ID094", "ID095", "ID096", "ID097", "ID098", "ID099", "ID100"
]

# List of 100 single digit numbers
grades = [
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9
]




# List of 100 lists of programming languages
courses = [
    ["Python", "JavaScript", "Java"],
    ["C++", "Ruby", "Swift"],
    ["C#", "PHP", "Go"],
    ["Rust", "TypeScript", "Kotlin"],
    ["HTML", "CSS", "Scala"],
    ["Objective-C", "Perl", "Haskell"],
    ["Lisp", "Shell", "Lua"],
    ["Assembly", "Dart", "F#"],
    ["Groovy", "VB.NET", "Clojure"],
    ["MATLAB", "Delphi", "Fortran"],
    ["Julia", "PowerShell", "Scheme"],
    ["R", "COBOL", "Ada"],
    ["ABAP", "Apex", "Bash"],
    ["Erlang", "Scratch", "LabVIEW"],
    ["Prolog", "Turing", "COOL"],
    ["Alice", "Snap!", "Blockly"],
    ["Logo", "Smalltalk", "Forth"],
    ["D", "Elixir", "Crystal"],
    ["Pascal", "PL/SQL", "VHDL"],
    ["Verilog", "KDB+", "XQuery"],
    ["XPath", "XSLT", "Euphoria"],
    ["Fantom", "Pike", "OpenCL"],
    ["Racket", "Erlang", "Fantom"],
    ["MQL4", "MQL5", "PureScript"],
    ["Etoys", "RPG", "Ballerina"],
    ["PostScript", "Wolfram", "Tcl"],
    ["Eiffel", "Elm", "Awk"],
    ["Emacs Lisp", "JScript", "Pure Data"],
    ["Q#", "Opa", "ActionScript"],
    ["Objective-J", "Clarion", "ColdFusion"],
    ["Ring", "LilyPond", "Ceylon"],
    ["Idris", "TADS", "Chapel"],
    ["Io", "PogoScript", "WebAssembly"],
    ["FORTRAN", "M2001", "OpenEdge ABL"],
    ["Haxe", "LiveScript", "ECL"],
    ["Scilab", "XC", "PILOT"],
    ["PL/I", "REBOL", "ICI"],
    ["Nim", "Vala", "BitC"],
    ["Boo", "SAS", "Ember.js"],
    ["J#", "Red", "Rust"],
    ["NewLISP", "PureScript", "JASS"],
    ["Mirah", "Sather", "Idris"],
    ["Mesa", "REXX", "PowerShell"],
    ["Limbo", "Elixir", "Haxe"],
    ["NXT-G", "Pawn", "Ring"],
    ["Xtend", "Xojo", "Hack"],
    ["CIL", "Oxygene", "Pico"],
    ["Cython", "ANTLR", "Csound"],
    ["ChucK", "Mojolicious", "XC"],
    ["nesC", "NSIS", "Processing"],
    ["Red", "KRL", "ATS"],
    ["UnrealScript", "Component Pascal", "ooc"],
    ["PureScript", "Chapel", "APL"],
    ["Squirrel", "Dogescript", "Pony"],
    ["Swift", "Standard ML", "Dylan"],
    ["Self", "SQF", "Bluespec"],
    ["Boomerang", "ABAP", "Pike"],
    ["Ateji PX", "OpenCL", "Q#"],
    ["VHDL", "J", "ABAP"],
    ["XL", "SISAL", "Gosu"],
    ["RPG", "M2001", "LabVIEW"],
    ["Factor", "PL/SQL", "Alice"],
    ["Cilk", "Lua", "Apex"],
    ["Fantom", "Pike", "OpenCL"],
    ["Verilog", "KDB+", "XQuery"],
    ["XPath", "XSLT", "Euphoria"],
    ["Fantom", "Pike", "OpenCL"],
    ["Racket", "Erlang", "Fantom"],
    ["MQL4", "MQL5", "PureScript"],
    ["Etoys", "RPG", "Ballerina"],
    ["PostScript", "Wolfram", "Tcl"],
    ["Eiffel", "Elm", "Awk"],
    ["Emacs Lisp", "JScript", "Pure Data"],
    ["Q#", "Opa", "ActionScript"],
    ["Objective-J", "Clarion", "ColdFusion"],
    ["Ring", "LilyPond", "Ceylon"],
    ["Idris", "TADS", "Chapel"],
    ["Io", "PogoScript", "WebAssembly"]
]

# List of 100 blood groups
blood_groups = [
    'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-',
    'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-',
    'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-',
    'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-',
    'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-',
    'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-',
    'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-',
    'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-',
    'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-',
    'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'
]

In [37]:
for first_name, last_name, age, id, grade, course, blood_group in zip(first_names, last_names, ages, ids, grades, courses, blood_groups):
  student = Student(first_name, last_name, age, id, grade, course,blood_group)
  principal.add_student(student)

In [39]:
len(principal.students)

79

In [47]:
len(courses)

78